h1 {
    color: white;
    background-color: black;
    padding: 0.5em;
    text-decoration: underline;
}
h2 {
    color: white;
    background-color: black;
    padding: 0.5em;
}
h3 {
    color: white;
    background-color: grey;
    padding: 0.5em;
}
